<div class="container mt-5">
    <h1>{{ $ctrl.title }}</h1>

    <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#modalFilter">
        Filtrar
    </button>

    <div ng-if="$ctrl.isLoading" class="alert alert-info">
        Carregando naves...
    </div>

    <div class="row">
        <div class="col-md-4" ng-repeat="starship in $ctrl.starships">
            <starship-card nave="starship"></starship-card>
        </div>
    </div>

    <filter-modal dataset="$ctrl.allStarships"></filter-modal>
</div>
